* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

ul {
    list-style-type: none;
}

.navbar,
header {
    background-color: #1f2937;
    color: #fff;
}

.navbar {
    height: 60px;
}

.navbar .container .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.navbar .container a {
    text-decoration: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .container ul {
    display: flex;
}

.container ul li {
    margin-left: 20px;
}

.header {
    height: 400px;
}

.header .container .hero h1 {
    line-height: 1.2;
}

.header .container .hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header .container .hero p {
    font-size: 18px;
    color: #e5e7eb;
    /* width: 300px;     */
    margin-bottom: 10px;

}


.header .container .hero button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 5px;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes {
    height: 400px;
}

.boxes .container h1 {
    margin: 40px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes .container .box-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxes .container .box-section .box p {
    text-align: center;
    font-size: 18px;
}

.quote {
    display: flex;
    height: 300px;
    background-color: #e5e7eb;
}

.quote .container .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote .container .author {
    font-size: 18px;
    font-weight: bold;
}

.quote .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.action{
    height: 300px;
    padding: 100px;
}

.action .container{
    height: 125px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
}

.action .container .sub-container h3{
    font-weight: bold;

}

.action .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}